<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag('00012.jpg', alt:'First slide', class: "img-responsive center-block")%>
      <div class="carousel-caption">
        Inspirate
      </div>
    </div>
    <div class="item">
      <%= image_tag('00016.jpg', alt:'Second slide', class: "img-responsive center-block")%>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag('00015.jpg', alt:'Third slide', class: "img-responsive center-block")%>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="contact-area">
  
  <div class="feat-line"></div>
  
  <div class="sp-container">
    
    <div class="sp-row">
      
      <div class="col-xs-4">
        <div class="promo-item" style="background-image:url(http://frenchyfancy.com/wp-content/uploads/2016/11/ig.jpg)">
          <a href="https://www.instagram.com/frenchyfancy/" class="promo-link"></a>         
          <div class="promo-overlay">
            <h4>Contacto</h4>
          </div>
        </div>
      </div>
            
      <div class="col-xs-4">
        <div class="promo-item" style="background-image:url(http://frenchyfancy.com/wp-content/uploads/2016/11/shop.jpg)">
          <a href="/selection-deco/" class="promo-link"></a>          <div class="promo-overlay">
                        <h4>Acerca de nosotros</h4>
                      </div>
        </div>
      </div>
            
            <div class="col-xs-4">
        <div class="promo-item" style="background-image:url(http://frenchyfancy.com/wp-content/uploads/2016/11/14553073_1086567411461757_7542595791689351168_n.jpg)">
          <a href="/a-propos-de-moi/" class="promo-link"></a>         <div class="promo-overlay">
                        <h4>Preguntas frecuentes</h4>
                      </div>
        </div>
      </div>
            
    </div>
    
  </div>
  
</div>
