<% provide(:title, "Aviso de Privacidad") %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="title-page">Aviso de Privacidad</h1>
            <p>Realidad Tangible&#174; (“Tangible”) con domicilio en Blvd. Adolfo Lopez Mateos #957, Col. 8 de Agosto, Álvaro Obregón, Distrito Federal, México C.P. 01180, es responsable de recabar sus datos personales, del uso que da a los mismos y de su protección.
            <br><br>
            Sus datos personales serán utilizados para (i) crear y entrar a sus session del sitio, y (ii) informarle sobre asuntos relacionados a Tangible. Sus datos serán resguardados y mantenidos como CONFIDENCIALES.
            <br><br>
            En caso de requerir Datos de su Tarjeta de Crédito (Numero de Tarjeta, CVT, Mes y Año de Expiración) no serán guardados, únicamente utilizados para realizar la transacción.
            <br><br>
            Para las finalidades antes mencionadas, requerimos los siguientes datos: nombre completo y correo electrónico. 
            <br><br>
            En el caso de que Tangible necesitara utilizar sus datos personales con una finalidad distinta a las aquí mencionadas, la empresa solicitará su aprobación.
            <br><br>
            En caso de requerir datos personales sensibles, Tangible se los solicitará previamente al titular de dichos datos personales sensibles, con el fin de (i) obtener su consentimiento por escrito y; (ii) notificarle la finalidad para la cual están siendo recabados, según la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (“Ley de Datos Personales”).
            <br><br>
            Usted tiene derecho a acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya otorgado, enviando la solicitud que corresponda a la siguiente dirección de correo electrónico: 'soporte@realidadtangible.mx'.
            <br><br>
            Tal como lo señala la Ley de Datos Personales, Tangible está obligada a solicitar su consentimiento cuando necesite transferir sus datos personales y usted está en su derecho de aceptar o declinar. En el caso de que la empresa no reciba una respuesta se dará por hecho que ha otorgado su consentimiento.</p>
    </div>
</div><!-- /row -->



<!-- once app is finalize video-cast of experience must be sent to instagram for app approval -->
<!-- https://www.instagram.com/developer/clients/a890f88b06244d46a2789df649672858/review/ -->