<h1>Realidad Tangible</h1>

<p>Hola <%= @user.name %>,</p>

<p>
Bienvenido a Realidad Tangible! Oprime el link abajo para activar tu cuenta:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>