<div class="container-fluid">
  <div class="row board-container layout_3">
    <div id='0' class="photoboard"></div>  
    <div id='1' class="photoboard"></div> 
    <br>
    <div id='2' class="photoboard"></div>  
    <div id='3' class="photoboard"></div>    
  </div>						  
</div>