<% lay = @album.pages.find_by_page_num(@id).layout %>

<% if lay == 0 %>
  <div class="container-fluid">
    <div class="row board-container layout_1">
        <ul class='select-layout'>
   <!--        <li><%#= link_to image_tag('ph1.jpg'), '', remote: true, id: @id %></li>
          <li><%#= link_to image_tag('ph2.png'), '', remote: true, id: @id %></li>
          <li><%#= link_to image_tag('ph3.png'), '', remote: true, id: @id %></li> -->
          <li><%= link_to 'layout1', '', remote: true, id: @id %></li>
          <li><%= link_to 'layout2', '', remote: true, id: @id %></li>
          <li><%= link_to 'layout3', '', remote: true, id: @id %></li>
        </ul>   
    </div>              
  </div>

  <%#= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>

<% elsif lay == 1 %>
  <div class="container-fluid">
    <div class="row board-container layout_1">
      <div id='0' class="photoboard"></div>     
    </div>              
  </div>

<% elsif lay == 2 %>
    <div class="container-fluid">
    <div class="row board-container layout_2">
      <div id ='0' class="photoboard"></div> 
      <p></p>
      <div id ='1' class="photoboard"></div> 
    </div>              
  </div>

<% elsif lay == 3 %>
    <div class="container-fluid">
    <div class="row board-container layout_3">
      <div id='0' class="photoboard"></div>  
      <div id='1' class="photoboard"></div> 
      <br>
      <div id='2' class="photoboard"></div>  
      <div id='3' class="photoboard"></div>    
    </div>              
  </div>

<% end %>


