<ul class='select-layout'>
  <li><%= link_to 'Layout1', '', remote: true, id: "layout1" %></li>
  <li><%= link_to 'Layout2', '', remote: true, id: "layout2" %></li>
  <li><%= link_to 'Layout3', '', remote: true, id: "layout3" %></li>
</ul>

