<!-- <ul>
  <li>Layout 1</li>
  <li>Layout 2</li>
  <li>Layout 3</li>
</ul> -->

<!-- <div class="container-fluid"> -->
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <%= image_tag("ph1.jpg") %>
      </div>
      <div class="col-md-4">
        <%= image_tag("ph2.jpg") %>
      </div>
      <div class="col-md-4">
        <%= image_tag("ph3.jpg") %>
      </div>
    </div>
  </div>
<!-- </div> -->

<!-- <div class="row">
  <%#= image_tag("http://lorempixel.com/140/140/") %>
  <%#= image_tag("http://lorempixel.com/140/140/") %>
  <%#= image_tag("http://lorempixel.com/140/140/") %>
</div>

