  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div class="container-fluid layout_album">
	<div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval= false>
		<!-- Wrapper for slides -->
	<div class= "album_section">
		<div class="carousel-inner">
				<div class="item active">
					<div class="container-fluid">
						<div class="row">
							<div class="top  col-xs-6 page-left">
								 <div class= 'square_album'></div>
								</div>
								<div class="top  col-xs-6 page-right">
								 <div class= 'square_album'></div>
								</div>                       
						</div>
					</div>
				</div>
				<% i = 3%>
				<%(@album.pages.length / 2 - 1).times do |n|%>
					<div class="item">
						<div class="container-fluid">
							<div class="row">
								<div class="top  col-xs-6">
								 <div class= 'square_album'></div>
								</div>
								<div class="top  col-xs-6">
								 <div class= 'square_album'></div>
								</div>
							</div>
						</div>            
					</div>
				<%end%>
		</div>
	</div>
		<a data-slide="prev" href="#custom_carousel" class="izq carousel-control">‹</a>
		<a data-slide="next" href="#custom_carousel" class="der carousel-control">›</a>
		<!-- End Carousel Inner -->
		<div class="col-xs-12">
		<div class="row">
			<div class="controls draggable ui-widget-content col-xs-11">
				<ul class="nav ui-widget-header">
					<%i = 1%>
					<%(@album.pages.length / 2).times do |n|%>
					<li data-target="#custom_carousel" data-slide-to="<%=n%>" class="active"><a href="#">
					<%=image_tag("void_layout.png", alt: "layout_0")%><small>Página <%=i%> - <%=i + 1%></small></a></li>
					<%i += 2%>
					<%end%>			  
				</ul>
			</div>
			<div class="buttons_section col-xs-1">

				<!-- <a href="#" class="btn btn-sq-xs "> <i class="fa fa-user fa-1x"></i>+</a><br> -->
				<!-- <a href="#" class="btn btn-sq-xs"><i class="fa fa-user fa-1x"></i>:)</a> -->
				<a href="#" class="btn btn-xs"><span class="glyphicon glyphicon-plus"></span> Add page </a>
				<a href="#" class="btn btn-xs"><span class="glyphicon glyphicon-ok"></span> Done </a>

			</div>
			</div>
		</div>
</div>