<% if @album.pages[0]%>

<%end%>

<div class= "album_section">
	<div class="carousel-inner">
			<div class="item active">
				<div class="container-fluid">
					<div class="row">
						<div class="top  col-xs-6 page-left">
							<div id= '1' class= 'square_album left'>
								<ul>
									<li>Layout 1</li>
									<li>Layout 2</li>
									<li>Layout 3</li>
								</ul>
						  </div>
						</div>
						<div class="top  col-xs-6 page-right">
							<div id= '2' class= 'square_album right'>
								<ul>
									<li>Layout 1</li>
									<li>Layout 2</li>
									<li>Layout 3</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>