<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
        <%= render 'users/navbar_user'%>
        </div>
        <div class="col-md-9">

        <h1 class= "page-title">
			<span class= 'base'> My albums</span>
		</h1>

		<div class= "block">
			<div class = "block-title order">
				<h4><strong> Albums</strong></h4>
			</div>
		</div>

		<table id="my-albums-table">
			<thead>
				<th scope= "col" class= "col id"> Album</th>
				<th scope= "col" class= "col name"> Album name</th>
				<th scope= "col" class= "col show delete"></th>
			</thead>
			<%if current_user.albums.length <= 0%>
		</table>
		<h5>¡Ups! Aún no tienes álbumes creados</h5>	
	<%else%>
		<tbody>
				<%current_user.albums.each do |album|%>
				<tr>
					<td><%=album.id%></td>
					<td><%=album.title%></td>
					<td><a href="#">Show</a>/<a href="">Delete</a></td>
				</tr>
				<%end%>
			</tbody>
		</table>
		<%end%>
		<%=link_to "Crear album", new_user_album_path(current_user) %>
        

        </div>
      </div>
    </div>
  </div>
</div>