<% provide(:title, 'New Album') %>
<div class="row">
    <p>Welcome to Album Workspace - this is going to be a sub-header with options for the album</p>
</div>
<div class="row">
  <div class="col-md-3">
    <p>Your photos:</p>
    <%= render 'photos/index' %>  
  </div>
  <div class="col-md-9">
    <p>Each Page can be created and edited here </p>
    <br>
    <p>Page 1</p>
    <p>Page 2</p>
  </div>
</div>
<div class="row">
  <p>Layouts will go along here: -----------> </p>
</div>