<div class="photoPile">
	<% current_user.photos.reverse.each do |photo| %>
		<div>			
	  	<img class="draggable photo-drag-pile" id="<%= photo.photo_url(:large)%>" src="<%= photo.photo_url(:thumb) %>">
		</div>
	<% end %>
</div>