<div id="upload-photo">
  <%= form_for [current_user,@photo], :photo => user_photos_path(current_user.id), html: { multipart: true } do |f| %>
  <%#= render 'shared/error_messages', object: @var = @photo %>    
    <div class="field">
      <%= f.label :photo %><br>
      <%= f.file_field :photo, multiple: true %>
    </div>
    <div class="actions">
      <%= f.submit 'Upload', :class => 'btn btn-medium btn-primary', :id => 'upload' %>
    </div>
  <% end %>
</div>