<div id="upload-photo" class="btn btn-default">
  <%= form_for [current_user,@photo], :photo => user_photos_path(current_user.id), html: { multipart: true } do |f| %>
    <%#= render 'shared/error_messages', object: @var = @photo %>
    <!-- <span class="btn btn-large btn-default btn-file"> -->
      <%= f.file_field :photo, multiple: true %>
    <!-- </span>     -->
    <%= f.submit 'Upload', :class => 'btn  btn-default', :id => 'upload' %>
  <% end %>
</div>