<div class="instagram user_photos">
  <% @insta_photos.each do |media_item| %>
    <%= image_tag (media_item.images.thumbnail.url) %>
  <% end %>
</div>
<div class="instagram popular_photos">
  <% @insta_popular.each do |media_item| %>
    <%= image_tag (media_item.images.thumbnail.url) %>
  <% end %>
</div>