// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#custom_carousel .item  .top {
  overflow:hidden;
  min-height:300px;
  max-height:600px;
  /*  margin-bottom:15px;*/
  background-color: #A4A4A4;
}
#custom_carousel .item {
  color:#000;
  background-color:#fff;
  /*padding:20px 0;*/
  overflow:hidden
}
#custom_carousel .item img{
  width:100%;
  height:auto
}

#custom_carousel .izq {
  position:absolute;
  left: -25px;
  top:40%;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px;
}
/* Next button  */
#custom_carousel .der {
  position:absolute;
  right: -25px !important;
  top:40%;
  left:inherit;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px;
}
#custom_carousel .controls {
  overflow:hidden;
  padding:10px;
  margin:0;
  white-space: nowrap;
  text-align: center;
  position: relative;
  background:#fff;
  border:0;
}
#custom_carousel .controls .nav {
  padding:10px;
  margin:0;
  white-space: nowrap;
  text-align: center;
  position: relative;
  background:#fff;
  width: auto;
  border: 1 solid;
}
#custom_carousel .controls li {
  display: inline-block;
  max-width: 100px;
  height: 90px;
  opacity:.5;
}
#custom_carousel .controls li a {
  padding:0;
}
#custom_carousel .controls li img {
  width:100%;
  height:auto
}

#custom_carousel .controls li.active {
  background-color:#fff;
  opacity:1;
}
#custom_carousel .controls a small {
  overflow:hidden;
  display:block;
  font-size:10px;
  margin-top:5px;
  font-weight:bold
}
.carousel-inner, .item {
  background-color: #A4A4A4;
}

.album_section {
  padding: 10px;
  background-color: #8D8D8D;
}

.layout_album {
  background-color: #8D8D8D;
}

.buttons_section {
  text-align: center;
  padding: 3px;
  margin-bottom: 10px;
  background-color: white;
  height: 130px;
}

.btn-sq-xs {
  vertical-align: center;
  text-align: center;
  margin-top: 10px;
}

.btn {
  font-size: 20px;

}

#current_page {
  display: none;
  }

#menu {
  background-color: #222;
  padding: 0px;
  text-align: center;
  width: 50px;
  height: 600px;
}

#menu button {
  background-color: #222;
  border: none;
  color: #9d9d9d;
}

#menu button:hover {
  color: #fff;
}

#menu button:focus {
  outline: none;
  color: yellow;
}

.arrow-right {
  width: 0; 
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #222;
  position: relative;
  left: 41px;
  z-index: 1000;
  display: block;
}

#album-title input {
  /*background: red;*/
  /*display: inline-block;*/
}

.select-layout li {
  list-style-type: none;
}

.square_album {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 400px;
  background-color: white;
}

#album-title {
  text-align: center;
}
.title {
  margin: 0 auto;
}

#title_field {
  text-align: center;
  width: 30%;
  box-sizing: border-box;
  border: white;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  background-color: white !important;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#title_field:focus {
  width: 100%;
  font-style: initial;
  font-weight: normal;
  font-size: 16px;
  background-color: white;
  border: 2px solid #ccc;

}

#num_album {
  display: none;
}