/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #F1F1F1;
  font: sans-serif !important;
}

h1, a, span {
  color: #F78181;
}

p {
  text-align: justify;
  text-justify: auto;
}

.current_name, .gravatar {
  display: block;
}

@media (min-width: 1600px ){
.container {
     width: 1400px !important;
    }
}

 .layout_2{
  padding:60px;
  box-sizing:border-box;
  text-align: center;
}

.layout_1{
  margin-top: 30%;
  padding:40px;
  box-sizing:border-box;
  text-align: center;
}

.layout_3{
  margin-top: 10%;
  padding:10px;
  box-sizing:border-box;
  text-align: center;
}

.layout_1 > .photoboard {
  background-color: #F2F2F2;
  height:130px;
  border: 2px dashed #A4A4A4;
  border-radius: 7%;  
}

.layout_2 > .photoboard {
  background-color: #F2F2F2;
  height:130px;
  width: 250px;
  border: 2px dashed #A4A4A4;
  border-radius: 7%;
}

.layout_3 > .photoboard {
  background-color: #F2F2F2;
  display: inline-block;
  height:148px;
  width: 148px;
  border: 2px dashed #A4A4A4;
  border-radius: 7%;  
}

.layout_3 > .photoboard > img {
    vertical-align: baseline !important;
  }

.draggable {
  z-index: 1;
}

.photo-in-album {
  z-index: 2;
}