/* images on users#show profile */
.display_photos {
  padding: 10px;
}

.display_photos img {
  padding-top: 13px;
  padding-right: 10px;
}

/* full screen background image */
.fullscreen-image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1000;
}