<footer class="footer">
  <small>
    <a href="http://www.realidadtangible.mx/">Realidad Tangible<em class="glyphicon glyphicon-registration-mark"></em></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre Nosotros",   about_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
    </ul>
  </nav>
</footer>