<footer class="footer">
  <small>
    <a href="http://www.realidadtangible.mx/">Realidad Tangible&#174;</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contacto", contact_path %></li>
      <li><%= link_to "Aviso de Privacidad", privacy_path %></li>
    </ul>
  </nav>
</footer>